/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-3: hsl(209, 34%, 30%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla";
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  /* margin-top: 5rem; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.about-page a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Karla";
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  p {
    font-size: 1.15rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  /* color: var(--clr-primary-2); */
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  /* color: var(--clr-primary-1); */
  background: #ffc6b7;
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
/* section */
.section {
  padding: 5rem 0;
  margin-bottom: 10rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 6rem;
}

.section-center-blog {
  width: 80vw;
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8rem;
  row-gap: 6rem;
}

.section-center-blog p {
  margin-bottom: 4rem;
}

.section-center-blog h3 {
  margin-bottom: 2rem;
}

.blogs {
  padding: 5rem 0;
  margin-bottom: 10rem;
  padding-top: 0;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.layout {
  padding-top: 5rem;
}

.project-page-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:
    3rem auto 40rem 22rem auto auto auto
    1fr;
  column-gap: 5rem;
  row-gap: 8rem;
  margin-bottom: 10rem;
  justify-content: center;
  align-content: center;
}

.project-page a:hover {
  text-decoration: underline;
}

.project-page-center h5 {
  color: #ff6666;
}

.project-headings {
  grid-row: 1/3;
  grid-column: 5 / -1;
  display: grid;
}

@media screen and (max-width: 700px) {
  .project-page-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    row-gap: 3rem;
  }
  .project-headings {
    grid-template-columns: minmax(6rem, 20rem) auto;
    grid-template-rows: repeat(2, 1fr);
  }
  .project-page-tech-list {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .project-page-tech-list {
    flex-direction: column;
  }
}

.project-page-tech-list {
  grid-row: 5;
  grid-column: 6 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-page-desc {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
}

.project-page-desc h1 {
  margin-bottom: 2rem;
}

.project-page-time {
  grid-row: 1;
  grid-column: 1;
}

.project-page-type {
  grid-column: 2 / 2;
  grid-row: 1;
}

.project-page-github {
  grid-column: 1 / 1;
  grid-row: 2;
}

.project-page-url {
  grid-column: 2 / 2;
  grid-row: 2;
}

.project-page-img-first {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  border-radius: 1%;
  grid-row: 3;
  grid-column: 1 / -1;
  max-width: 100%;
  height: auto;
}

.project-page-goal {
  grid-row: 4;
  grid-column: 1 / 6;
}

.project-page-features {
  grid-row: 4;
  grid-column: 6 / -1;
  display: flex;
  flex-direction: column;
}

.project-page-technologies {
  display: flex;
}

@media screen and (max-width: 700px) {
  .project-page-technologies {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.project-page-tech {
  grid-row: 5;
  grid-column: 1 / 6;
}

.project-page-img-second {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  border-radius: 1%;
  grid-row: 6;
  grid-column: 1 / -1;
  max-width: 100%;
  height: auto;
}

.project-page-hurdles {
  grid-row: 7;
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-page-code-responsive {
  grid-row: 8;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-page-code-responsive h2 {
  margin-top: 6rem;
}

.project-page-code-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "karla";
  align-content: center;
}

.project-page-code-container button {
  font-family: "karla";
  font-weight: 600;
  font-size: 1.1rem;
  max-width: 15rem;
  margin: 1rem;
}

@media screen and (max-width: 700px) {
  .project-page-code-container {
    flex-direction: column;
    align-items: center;
  }
  .project-page-code-container button {
    width: auto;
  }
  .modal-text {
    grid-row: 12;
  }
}

.close-icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  cursor: pointer;
  z-index: 1;
}

.project-page-code-container button:hover {
  /* color: var(--clr-primary-1); */
  background: #ffc6b7;
}

.project-page-code-img-one {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  width: 100% !important;
  height: auto !important;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .project-page-code-img-one {
    min-width: 26rem;
  }
}

@media screen and (max-width: 400px) {
  .project-page-code-img-one {
    min-width: 20rem;
  }
}

.modal-container {
  display: grid;
  grid-template-columns: repeat(16, minmax(1rem, 6rem));
  grid-template-rows: repeat(8, 1fr);
  border: none;
  outline: none;
  border-radius: 0.5%;
  margin: 20%;
}

.modal-container h3 {
  margin: 2.5rem;
  margin-bottom: 0;
}

.modal-container p {
  margin: 2.5rem;
}

.modal-text-container {
  grid-row: 3 / 6;
  grid-column: 1 / 7;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.modal-text-container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  .modal-text-container {
    grid-row: 4 / 6;
  }
}

.modal-text {
  display: flex;
  background: rgb(219, 232, 250);
  width: auto;
  flex-direction: column;
  border-radius: 1.5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 1170px) {
  .modal-container {
    grid-row: 10;
    grid-column: 1 / -1;
    grid-template-columns: none;
  }

  .modal-text-container {
    grid-row: 10;
    grid-column: 1 / -1;
  }

  .modal-container h3 {
    margin: 1rem;
  }

  .modal-container p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .project-page-code-img-one {
    grid-column: 1 / -1;
  }
}

.project-page-hurdles p {
  text-align: center;
}

.project-page-img-responsive-container {
  grid-row: 8;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-page-img-responsive {
  width: 30%;
}

.project-page-design-img-container {
  grid-row: 5;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-page-design-img-container img {
  margin-bottom: 7rem;
}

.project-page-design-img-container .project-page-tech-list {
  margin-left: 7rem;
}

@media screen and (max-width: 700px) {
  .project-page-design-img-container .project-page-tech-list {
    margin: 0;
  }
}

.project-page-design-img-one {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  border-radius: 1%;
  grid-row: 6;
  grid-column: 1 / -1;
  max-width: 100%;
  height: auto;
  margin-bottom: 7rem;
}

.project-page-lessons {
  grid-row: 9;
  grid-column: 1 / 7;
}

.project-page-projects {
  grid-row: 10;
  grid-column: 1 / -1;
}

.material {
  width: 4rem;
  height: 4rem;
}

.itunes {
  color: #ff6666;
}

.react {
  color: #66ffff;
}

.firebase {
  width: 9rem;
  height: 9rem;
}

.sass {
  width: 11rem;
  color: #c58dc2;
}

.javascript {
  width: 11rem;
  color: #e4cc45;
}

.weather {
  width: auto;
  max-width: 10.5rem;
}

.css {
  width: 11rem;
  color: #2d9fe0;
}

.html {
  width: 11rem;
  color: orange;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-page-contact {
  grid-row: 9;
  grid-column: 1 / 5;
}

.other-project-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8rem;
  row-gap: 0;
}

@media screen and (min-width: 992px) {
  .other-project-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 6rem;
  }
}

.section-title {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

/* social links */

.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

/*
=============== 
Navbar
===============
*/

.header-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*
=============== 
Projects
===============
*/

.projects-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8rem;
  row-gap: 2rem;
}

.projects {
  background: white;
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  .projects-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
  .projects {
    padding-bottom: 10rem;
  }
}

.project {
  display: grid;
  grid-template-columns: 10px;
  grid-template-rows: 1fr 200px;
  margin-bottom: 4rem;
  grid-template-columns: 1fr;
  align-items: center;
}

.project-other {
  display: grid;
  grid-template-columns: 10px;
  grid-template-rows: 1fr 100px 50px;
  margin-bottom: 4rem;
  grid-template-columns: 1fr;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .projects-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
  }
  .projects {
    padding-bottom: 10rem;
  }
}

.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-description {
  height: 3rem;
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: var(--clr-white);

  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  grid-row: 2 / -1;
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--clr-primary-5);
  margin-bottom: 0.75rem;
}

.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-links {
  color: black;
  display: flex;
  align-content: center;
  grid-row: 3;
}
.project-links:hover {
  text-decoration: underline;
}
.project-stack span,
.blog-footer span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.blog-footer span {
  margin: 0;
}

.project-icon {
  color: var(--clr-primary-5);
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.project-icon:hover {
  color: var(--clr-primary-1);
}

/*
=============== 
Blog
===============
*/
.blog {
  display: block;
  margin-bottom: 2rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.blog:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.blog article {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.blog-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem 1rem;
}
.blog-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
}

.blog-card h4 {
  color: var(--clr-grey-1);
}

.blog-card p {
  font-size: 1rem;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.blog-footer p {
  margin-bottom: 0;
  margin-top: 0.6rem;
  color: black;
}

.blog-footer span {
  box-shadow: none;
}
.blogs-center {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 576px) {
  .blogs-center {
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .blog-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .blog-img {
    height: 13.75rem;
  }
}
.logo-container {
  margin-right: auto;
}
.logo {
  max-width: 8rem;
  margin-top: 0.5rem;
}

/*
===============
Footer
===============
*/
.footer-container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 6rem;
  row-gap: 6rem;
  padding-bottom: 10rem;
  justify-content: center;
  align-content: center;
}

.footer-contact {
  grid-row: 1 / 1;
  grid-column: 1 / -1;
}

@media screen and (min-width: 850px) {
  .footer-contact {
    grid-column: 1 / 1;
  }
}

.footer-links {
  display: flex;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
}

.footer-touch {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-touch h2 {
  margin: 0;
}

.footer-touch {
}
/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.error-page,
.about-page,
.contact-page,
.project-page {
  background: var(--clr-grey-10);
  min-height: calc(100vh - 5rem - 9rem);
}
.project-page {
  background: white;
  padding-top: 5rem;
  /* display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center; */
}

.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-10);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}
/*
===============
Blog Page
===============
*/
.blog-page .blog {
  background: var(--clr-white);
}
/*
===============
About Page
===============
*/
.about-page {
  padding: 7rem 0;
}
.about-img {
  margin-bottom: 2rem;
  grid-row: 2;
}

.about-img-border {
  height: 26rem;
}

@media screen and (max-width: 700px) {
  .about-img-border {
    height: 16rem;
  }
}

.about-text .section-title {
  margin-bottom: 2rem;
  text-align: left;
}
.about-text .underline {
  margin-left: 0;
  margin-right: 0;
}
.about-text p {
  line-height: 2;
}

.about-title {
  margin: 0;
  grid-row: 1;
}

.about-title span {
  background: linear-gradient(-60deg, #ff0040, #904e95, #e73c7e, #0080ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about-stack-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .about-stack-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about-stack-container span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  margin: 1rem;
}

.stack-container {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
}
.stack-container span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: var(--clr-grey-4);
}
.stack-icon {
  color: var(--clr-primary-5);
  margin-right: 0.25rem;
  font-size: 1rem;
}

.about-center {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7rem 1fr 10rem;
    align-items: center;
    column-gap: 4rem;
  }
  .about-img {
    grid-column: 1 / span 5;
    grid-row: 1 / 3;
    margin-bottom: 0;
  }
  .about-text {
    grid-column: 6 / -1;
  }
  .about-title {
    grid-column: 6 / -1;
  }
  .about-img-border {
    height: 14rem;
  }
}

/*
===============
Blog Template
===============
*/
.blog-template {
  padding: 5rem 0;
}

.blog-template h1,
.blog-template h2 {
  text-align: center;
}
.blog-template ul {
  margin-top: 2rem;
  display: inline-block;
}
.blog-template ul li {
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.blog-template blockquote {
  background: var(--clr-primary-9);
  border-radius: var(--radius);
  padding: 1rem;
  line-height: 2;
  color: var(--clr-primary-5);
  margin: 2rem 0;
}
.blog-template pre {
  background: #222;
  color: yellow;
  overflow-x: scroll;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
}
.blog-template img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
